* {
    box-sizing: border-box;
}

/* Enlaces sin subrayado sin bullets */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f0f0f0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 200px;
}

.botones i {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px;
    color: #be901b;
}

.botones i:hover {
    color: #41300a;
}

/* Navegador */
nav {
    background-color: #d4d4d4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

nav ul li a {
    padding: 20px;
    display: block;
    color: #333;
    font-weight: bold;
    font-size: large;
}

nav ul li a:hover {
    background: whitesmoke;
}

.barra {
    display: flex;
    position: relative;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}

.barra input {
    border-style: none;
    color: #555;
    padding: 10px;
    font-size: 17px;
}

.barra button {
    border-style: none;
    background: #444 center;
    width: 40px;
    height: 40px;
}

.barra button i {
    color: whitesmoke;
}

.barra button:hover {
    background: #555;
}

/* Principal */
main{
    padding-top: 10px;
}

main div {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main div .imagenes {
    display: flex;
    flex-direction: row;
}

main div .imagenes img {
    width: 50%;
    padding: 5px;
}

main div .rectangulo {
    background: #ffffff;
    background: linear-gradient(90deg, #ffffff00 0%, #be901b 18%, #c69d36 80%, #e0ca9200 100%);
}

main div .rectangulo h2 {
    color: whitesmoke;
}

main div .imagenes .img1 {
    transform: scaleX(-1);
}

/* Productos */
main{
    padding-left: 10px;
    padding-right: 10px;
}

main > section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: white;
}

main > section > article{
    position: relative;
    float: left;
    width: 400px;
    padding: 15px;
    margin: 20px 20px 50px;
    text-align: center;
    border: 1px solid transparent;
}

main > section > article > img{
    padding: 30px;
}

main > section > article > h3{
    color:#303030;
}

main > section > article > p{
    color:#555;
}

main > section > article > .precio{
    color:#444;
    font-size: x-large;
}

main > section > article > .boton{
    background-color: #555;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: x-large;
    color: whitesmoke;
}

main > section > article > .boton:hover{
    color: #555;
    background-color: whitesmoke;
}

/* Pie de pagina */
footer {
    background-color: #d4d4d4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

footer div a{
    color: #444;
    padding: 10px;
}

footer div a:hover{
    color: #555;
}